*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu',sans-serif
 
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
  background-color: rgb(205, 202, 202);
  background-image: url('./../public/11814.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  color: wheat;
  background-attachment: fixed;
}
@media (max-width : 320px) {
  body{
    background-image: url('./../public/mbl.jpeg');
  }
}
.heading{
  color: #2aede6;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin-top: 2rem;
  text-shadow: 0.3rem 0.2rem 0.1rem rgba(236, 119, 98, 0.5);
  
}
.climate{
  font-size: 1rem;
}

.cbut{
  margin-left: 0.4rem;
  border:2px solid wheat;
  border-radius: 0.5rem;
  color:#2aede6 ;
}
.res{
  margin-top: 1rem;
}
.lii{
  margin-bottom: 1rem;
}
.name{
  color: wheat;
  margin-left: 0.5rem;
}
.mass{
  color: wheat;
  margin-left: 0.5rem;
}
.gen{
  color: wheat;
  margin-left: 0.5rem;
}
.pname{
  color: #18b4af;
  text-align: center;
  margin-bottom: 0.9rem;
}
.app{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top:4rem
}
.planet-card{
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgb(246, 243, 243);
  margin: 2rem;
  padding: 2rem;
}
.feeo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top:1rem;
  color: #18b4af;
}
.feed{
  list-style:upper-roman;
  
  margin-top: 1rem;
}
.pagination button{
  color:wheat;
  background-color: transparent;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px rgb(246, 243, 243);
  padding: 0.3rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
.pagination{
  justify-content: center;
  text-align: center;
}
.pagination :hover{
  cursor:pointer;
}